@use 'utils' as *;

.page {
    margin: 24px;
    @include breakpoint('sm') {
        margin: 24px 48px;
    }

    @include breakpoint('lg') {
        margin: 36px 192px;
    }
}

nav {
    width: 100%;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 24px;
    margin-bottom: 24px;

    @include breakpoint('sm') {
        padding: 0 40px;
    }

    .dark-mode-toggle {
        display: flex;
        align-items: center;
        background: transparent;
        border: none;
        svg {
            fill: none;
            stroke: var(--dark-bg);
            stroke-width: 32px;
            height: toRem(14);
        }
        span {
            padding-left: 12px;
            font-size: toRem(14);
            font-weight: 600;
        }
    }
}

form {
    display: flex;
    align-items: center;
    flex-flow: row wrap;
    @include breakpoint('sm') {
        justify-content: space-between;
    }

    .search-field {
        margin: 24px 0;
        display: flex;
        align-items: center;
        width: 100%;
        background-color: var(--white);
        box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
        border-radius: 6px;

        @include breakpoint('sm') {
            width: 40%;
        }

        input {
            border: none;
            padding: 16px;
            font-size: toRem(14);
            &::placeholder {
                color: var(--dark-gray);
                font-weight: 600;
            }
            &:focus {
                outline: none;
            }
        }
        svg {
            
            fill: var(--dark-gray);
            padding: 0 4px 0 28px;
            height: toRem(21);
        }
    }
}

.country-list {
    margin: 24px;
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 32px;

    @include breakpoint('sm') {
        grid-template-columns: 1fr 1fr 1fr;
        column-gap: 36px;
    }

    @include breakpoint('md') {
        margin: 24px 0;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        column-gap: 56px;
        row-gap: 40px;
    }

    @include breakpoint('lg') {
        grid-template-columns: 1fr 1fr 1fr 1fr;
        column-gap: 64px;
    }

    .card {
        margin-bottom: 12px;
        border-radius: 8px;
        box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;;
        .flag {
            width: 100%;
            overflow: hidden;
            img {
                border-radius: 8px 8px 0 0;
                width: 100%;
                object-fit: cover;
            }
        }
        .summary {
            padding: 0 18px;
            margin: 12px 0;
            h4 {
                font-size: toRem(17.5);
                font-weight: 800;
                margin: 12px 0;
            }
            ul {
                padding: 0;
                font-size: toRem(14);
                li {
                    list-style: none;
                    b {
                        font-weight: 600;
                    }
                }
            }
        }
    }
}

.custom-select {
    width: 60%;
    position: relative;
    padding: 0;
    margin: 0;

    @include breakpoint('sm') {
        width: 30%;
    }

    @include breakpoint('md') {
        width: 20%;
    }

    li {
        list-style: none;
    }

    .selected, .dropdown {
        box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
        background-color: var(--white);
        border: none;
        border-radius: 4px;
        padding: 16px 24px;
        appearance: none;
        font-size: toRem(14);
        font-weight: 600;
        color: var(--dark-bg);
    }

    .selected {
        cursor: pointer;
        position: relative;
        display: flex;
        align-items: center;
        width: 100%;
        svg {
            position: absolute;
            height: 24%;
            fill: var(--dark-bg);
            right: 24px;
        }
        &:focus {
            outline: 0.25px dashed rgba(0, 0, 0, 0.25);
        }
    }

    .dropdown {
        position: absolute;
        width: 100%;
        margin: 8px 0;
        z-index: 2;
        .dropdown-item {
            margin-bottom: 8px;
            cursor: pointer;
            &:last-child {
                margin-bottom: 0;
            }
        }
    }
}

.hidden {
    display: none;
}

.btn {
    outline: none;
    background-color: var(--white);
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    padding: 8px 16px;
    font-size: toRem(14);
    border: none;
    border-radius: 4px;
    cursor: pointer;
    &-previous {
        margin: 24px 0;
        margin-bottom: 40px;
        display: flex;
        padding: 8px 24px;
        align-items: center;
        svg {
            fill: var(--dark-bg);
            height: 12px;
            padding-right: 8px;
        }
    }
    &-group {
        font-size: toRem(12);
        margin-bottom: 4px;
        margin-right: 8px;
    }
}

.country-details {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    height: 60%;

    h4 {
        margin: 16px 0;
        font-size: toRem(21);

        @include breakpoint('sm') {
            margin: 0;
            font-size: toRem(28);
        }
    }

    h5 {
        font-weight: 600;
        font-size: toRem(14);
        margin: 0;
        margin-bottom: 8px;
    }
    
    .flag {
        width: 100%;

        @include breakpoint('sm') {
            width: 50%;
        }

        @include breakpoint('md') {
            width: 45%;
        }
        img {
            width: 100%;
            object-fit: cover;
        }
    }
    .country-description {
        font-size: toRem(14);
        @include breakpoint('sm') {
            width: 45%;
            h5 {
                margin-bottom: 8px;
            }
        }

        @include breakpoint('md') {
            width: 50%;
            .description {
                margin-top: 16px;
                width: 80%;
                display: flex;
                justify-content: space-between;
            }

            .border-countries {
                display: flex;
                align-items: center;
                h5 {
                    margin: 0;
                    margin-right: 16px;
                }
            }
        }

        ul {
            padding: 0;
            li {
                list-style: none;
                b {
                    font-weight: 600;
                    padding-right: 8px;
                }
            }
        }

        .border-countries {
            margin-top: 24px;
            h5 {
                width: max-content;
            }
        }
    }
    
}
