@use 'helpers' as *;

*, *::before, *::after {
    font-family: 'Nunito Sans', sans-serif;
    box-sizing: inherit;
}


body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: var(--light-bg);
}

a {
    text-decoration: none;
    color: var(--dark-text);
}


li {
    line-height: 1.6;
}

button {
    cursor: pointer;
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border-width: 0;
}